@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.root {
    -fx-font-family: 'Poppins';
}

.acoes {
    -fx-font-size: 14px;
    -fx-font-family: Poppins;
}

.buttonMenuPrincipal {
    -fx-font-family: Poppins;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-min-height: 40px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 20;
}

.buttonMenuPrincipal:hover {
    -fx-background-color: #1F315A;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

/* Títulos de tela */
.tituloDeTelas {
    -fx-font-family: Poppins;
    -fx-font-size: 25px;
    -fx-effect: dropshadow(gaussian, rgba(164, 164, 164, 0.5), 10, 0.0, 1, 0);
}

/* Botões */
.buttonCadastrar {
    -fx-font-family: Poppins;
    -fx-font-size: 14px;
    -fx-background-color: #18B04B;
    -fx-min-height: 35px;
    -fx-min-width: 100px !important;
    -fx-border-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.0, 2, 2);
    -fx-cursor: hand;
}
.buttonCadastrar:hover {
    -fx-min-width: 110px;
    -fx-border-radius: 50px;
    -fx-background-color: #409d62;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.buttonAcoes {
    -fx-font-family: Poppins;
    -fx-font-size: 14px;
    -fx-background-color: #14313d;
    -fx-min-height: 35px;
    -fx-min-width: 100px !important;
    -fx-border-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.0, 2, 2);
    -fx-cursor: hand;
}
.buttonAcoes:hover {
    -fx-min-width: 110px;
    -fx-border-radius: 50px;
    -fx-background-color: #1F315A;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.buttonEditar {
    -fx-font-family: Poppins;
    -fx-font-size: 16px;
    -fx-background-color: #FCA311;
    -fx-min-height: 40px;
    -fx-min-width: 110px !important;
    -fx-border-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.0, 2, 2);
    -fx-cursor: hand;
}
.buttonEditar:hover {
    -fx-min-width: 110px;
    -fx-border-radius: 50px;
    -fx-background-color: #cba259;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}
.buttonCancelar {
    -fx-font-family: Poppins;
    -fx-font-size: 16px;
    -fx-background-color: #B0B0B0;
    -fx-min-height: 40px;
    -fx-min-width: 110px !important;
    -fx-border-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.0, 2, 2);
    -fx-cursor: hand;
}
.buttonCancelar:hover {
    -fx-min-width: 110px;
    -fx-border-radius: 50px;
    -fx-background-color: #8d8d8d;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}
.buttonExcluir {
    -fx-font-family: Poppins;
    -fx-font-size: 16px;
    -fx-background-color: #000000;
    -fx-min-height: 40px;
    -fx-min-width: 110px !important;
    -fx-border-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.0, 2, 2);
    -fx-cursor: hand;
}
.buttonExcluir:hover {
    -fx-min-width: 110px;
    -fx-border-radius: 50px;
    -fx-background-color: #444444;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.listView {
    -fx-font-family: Poppins;
    -fx-font-size: 14px;
}




